@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,187,2);
    --blanco: #fff;
    --negro: #000;

    --fuentePirncipal: 'Staatliches', cursive;
}